<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procvičování matematiky</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>

<body>

<div class="col-lg-10 col-md-6 col-sm-6 justify-content-center">
    <div class="text-center">
        <h1 class="font">Procvičování matematiky</h1>

        <div class="container">
            <h2 class="font-smaller text-center"> Procvičování matematiky v 1.3 </h2>

            <p class="about-text text-center">Autor: Martin Kostelecký, 2025</p>

            <p class="about-text text-center">Použité technologie: Java 21, Spring Boot, JavaScript, Docker,
                PostgreSQL,<br>Thymeleaf,
                HTML, CSS, Bootstrap, JUnit, Mockito, Lombok
            </p>

            <p class="font-smallest text-center">Historie verzí:</p>
            <table class="about-text">
                <tr>
                    <td>
                        1.0
                    </td>
                    <td>sčítání, odčítání, zvuková odezva</td>
                <tr>
                    <td>
                        1.1
                    </td>
                    <td>přidání vizuálního efektu při správném nebo nesprávném výpočtu</td>
                </tr>
                <tr>
                    <td>
                        1.2
                    </td>
                    <td>procvičování znamének > < =</td>
                </tr>
                <tr>
                    <td>
                        1.3
                    </td>
                    <td>
                        <ul>
                            <li>
                                odměnový systém, přidání/ubrání odznaku jednorožce při správném/nesprávném výpočtu
                            </li>
                            <li>
                                přesměrování na stránku s gratulací, vizuálním efektem a melodií při získání deseti
                                odznaků
                            </li>
                            <li>
                                vylepšené zobrazování na menších obrazovkách a mobilních zařízeních
                            </li>
                        </ul>
                    </td>
                </tr>

            </table>

        </div>
        <div class="text-center">
            <a th:href="@{/}" class="button-no-background">Zpět na hlavní stranu</a>
        </div>
    </div>
</div>
</body>
</html>