<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procvičování matematiky: > < =</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>

<body>
<div class="col-lg-10 col-md-6 col-sm-6 justify-content-center">

    <div class="text-center">
        <h1 class="font category-title">Procvičování matematiky: > < =</h1>

        <div class="container" id="main-container">
            <h2 class="font">Příklad:</h2>

            <form th:action="@{/result-logic}" method="post">
                <div class="form-group form-inline-centered">
                    <p th:text="${firstNumber}" class="font"></p>
                    <input type="hidden" name="firstNumber" th:value="${firstNumber}"/>
                    <label>
                        <select class="form-control" style="font-size: 60px" name="chosenOperator"
                                th:value="${chosenOperator}" required>
                            <option value=">">></option>
                            <option value="<"><</option>
                            <option value="=">=</option>
                        </select>
                    </label>
                    <p th:text="${secondNumber}" class="font"></p>
                    <input type="hidden" name="secondNumber" th:value="${secondNumber}"/>
                </div>
                <button type="submit">ZKONTROLOVAT</button>
            </form>

            <div th:if="${successMessage}"><p th:text="${successMessage}" class="font alert alert-success"></p></div>
            <div th:if="${failureMessage}"><p th:text="${failureMessage}" class="font-mistake font alert alert-danger"></p></div>

            <div class="unicorn-counter">
                <div th:each="badge : ${unicorns}" class="unicorn">
                    <img th:src="@{img/unicorn.jpg}" alt="Unicorn"/>
                </div>
            </div>

        </div>

        <div class="text-center">
            <a th:href="@{/}" class="button-no-background">Zpět na hlavní stranu</a>
        </div>

    </div>

</div>

<!--PROD-->
<!--<audio id="success-sound" src="https://treninkmatematiky.online/audio/success.wav" preload="auto" hidden></audio>-->
<!--<audio id="failure-sound" src="https://treninkmatematiky.online/audio/failure.wav" preload="auto" hidden></audio>-->

<!--DEV-->
<audio id="success-sound" src="http://localhost:8080/audio/success.wav" preload="auto" hidden></audio>
<audio id="failure-sound" src="http://localhost:8080/audio/failure.wav" preload="auto" hidden></audio>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const successSound = document.getElementById("success-sound");
        const failureSound = document.getElementById("failure-sound");
        const container = document.getElementById("main-container");

        const successMessage = /*[[${successMessage!= null}]]*/ false;
        const failureMessage = /*[[${failureMessage!= null}]]*/ false;

        if (successMessage) {
            successSound.play().catch(error => console.log("Error playing sound:", error));
            container.classList.add("rainbow-border"); // Add rainbow border class
        } else if (failureMessage) {
            failureSound.play().catch(error => console.log("Error playing sound:", error));
            container.classList.remove("rainbow-border"); // Remove rainbow border class on failure
            container.classList.add("greyscale-border");
            container.classList.add("container-mistake");
        }

        // Remove the rainbow border when the button is clicked again
        const checkButton = document.querySelector("button[type='submit']");
        checkButton.addEventListener("click", function () {
            container.classList.remove("rainbow-border");
        });
    });
</script>

</body>
</html>