<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procvičování matematiky</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>

<body>
<div class="col-lg-10 col-md-6 col-sm-6 justify-content-center">

    <div class="text-center">
        <h1 class="font">Procvičování matematiky</h1>

        <p class="font-smallest">Získej deset odznaků jednorožce!</p>
        <p class="font-smallest">Za každý správně vypočítaný příklad získáš jeden odznak.</p>
        <p class="font-mistake-smallest">Když ale výsledek nebude správný o jeden příjdeš.</p>

        <div class="container">
            <h2 class="font-smaller">Vyber co chceš procvičovat</h2>

            <form th:action="@{/addition}" method="post">
                <button type="submit">Sčítání +</button>
            </form>
            <form th:action="@{/subtraction}" method="post">
                <button type="submit">Odčítání -</button>
            </form>
            <form th:action="@{/logic}" method="post">
                <button type="submit">Znaménka > < =</button>
            </form>
        </div>
    </div>

    <div class="text-center">
            <a th:href="@{/about}" class="button-no-background">O aplikaci</a>
    </div>

</div>

</body>
</html>