<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procvičování matematiky: sčítání +</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>

<div class="col-lg-10 col-md-6 col-sm-6 justify-content-center">
    <div class="text-center">
        <h1 class="font">Procvičování matematiky: sčítání +</h1>
        <div class="container" id="main-container">

            <div class="unicorn-counter">
                <div th:each="i : ${#numbers.sequence(1, 10)}" class="unicorn">
                    <img th:src="@{/img/unicorn.jpg}" alt="Unicorn"/>
                </div>
            </div>

            <div th:if="${accomplishedMessage}"><p th:text="${accomplishedMessage}" class="font"></p>
            </div>
            <!--TODO back to chosen category practicing
            <div class="font">
                <a th:href="@{/}" class="button-no-background">Začít znovu</a>
            </div>-->

        </div>

        <div class="text-center">
            <a th:href="@{/}" class="button-no-background">Zpět na hlavní stranu</a>
        </div>
    </div>
</div>

<!--PROD-->
<!--<audio id="accomplished-melody" src="https://treninkmatematiky.online/audio/melody.wav" preload="auto" hidden></audio>-->

<!--DEV-->
<audio id="accomplished-melody" src="http://localhost:8080/audio/melody.wav" preload="auto" hidden></audio>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const accomplishedMelody = document.getElementById("accomplished-melody");
        const container = document.getElementById("main-container");

        const accomplishedMessage = /*[[${accomplishedMessage!= null}]]*/ false;

        if (accomplishedMessage) {
            accomplishedMelody.play().catch(error => console.log("Error playing sound:", error));
            container.classList.add("rainbow-border"); // Add rainbow border class
        }

    });
</script>

</body>
</html>